.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Sayfa boyutuna uyumlu olacak şekilde */
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-content {
  flex-grow: 1; /* Ana içeriğin kalan alanı doldurmasını sağlar */
  overflow-y: auto; /* İçeriğin yüksekliği arttığında kaydırma çubuğunu aktif eder */
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.content-wrapper {
  padding: 20px;
  height: calc(100vh - 50px); /* Navbar'ın yüksekliğine göre ayarla */
  overflow-y: auto; /* Dikey scrollbar ekler */
  margin-left: 100px; /* Navbar genişliği ile uyumlu olacak şekilde */
}